@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Muli", sans-serif;
  overflow: hidden;
  background-color: rgb(23, 23, 32);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0 40px;
  align-items: center;
  width: 100%;
  display: flex;
}
.slide {
  height: 85vh;
  border-radius: 20px;
  margin: 7px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  /* background-size: auto 100%; */
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.slide__content {
  background-color: rgba(0, 0, 0, 0.336);
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 30px;
  margin: 0;
  opacity: 0;
}

.slide__content p {
  width: 70%;
  color: #ffffffbd;
  line-height: 1.7;
  font-size: calc(16px + (100vw / 1080));
}

.slide__content h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.slide.active {
  flex: 4;
}

.slide.active .slide__content {
  display: block;
  animation: opac 1s forwards 0.5s;
}
@keyframes opac {
  100% {
    opacity: 1;
  }
}
@media (max-width: 910px) {
  body {
    display: static;
  }
  .container {
    height: 100vh;
    flex-direction: column;
  }

  .slide {
    height: 20%;
    width: 90vw;
    margin: 5px 0;
    background-position: center;
  }

  .slide__content p {
    width: 100%;
    color: #ffffffbd;
    line-height: 1.7;
    font-size: calc(14px + (100vw / 1080));
  }
  .slide.active {
    flex: 6;
  }
}
